html, body, #mapDiv {
  height: 100%;
  margin: 0;
  padding: 0;
}
.esriLegendServiceLabel {
  display: none;
}
#HomeButton {
  position: absolute;
  top: 140px;
  left: 15px;
  z-index: 50;
}
#LocateButton {
  position: absolute;
  top: 180px;
  left: 15px;
  z-index: 50;
}
#info {
  position: absolute;
  font-style: italic;
  font-weight: bold;
  left: 15px;
  bottom: 50px;
  color: #000;
  z-index: 50;
  font-size: 12px;
}
#search {
  display: block;
  position: absolute;
  z-index: 2;
  top: 65px;
  left: 60px;
}
#map .esriSimpleSlider {
  top: 65px;
}
